{{- define "main" }} 
    {{- $pages := union .RegularPages .Sections }} 
    {{- $paginator := .Paginate $pages }} 

    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }} 
    {{- partial "home_info.html" . }} 
    {{- end }}

    <div class="projects-section">
        <h2>Projects</h2>
        <div class="portfolio-projects">
            <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>Project Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed saepe adipisci nostrum. Voluptatem tempore porro deserunt cupiditate. Dolores sequi, eveniet enim amet sapiente voluptatibus, libero, impedit tempora ullam alias iure?</p>
            </div>
        </div>
    </div>
{{- end }}